@import url("https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@700&display=swap");

/* html {
  background: url(images/bg3-2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

body {
  background-color: black;
  font-family: "Oleo Script Swash Caps", cursive;
  box-sizing: border-box;
}

h1 {
  font-size: 7.5vw;
  color: whitesmoke;
  line-height: 0.9;
}

.container {
  margin-top: 40vh;
  margin-left: auto;
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 1000px) {
  .container {
    margin-top: 5vh;
  }
}

.name {
  font-size: 1.3em;
  color: yellowgreen;
}

.tech-icon {
  height: 5vw;
  width: auto;
}
